html {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/* top */

.top {
  font-family: "Montserrat", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #eee;
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 0 5vw;
}

.top-contents {
  margin: 0 5vw;
  letter-spacing: .25rem;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .top-contents {
    text-align: center;
    font-size: 2rem;
  }
}

/* introduce */

.introduce {
  background: #f9dbbd;
  min-height: 100vh;
  display: grid;
  padding: 4vh 0 8vh;
}

.introduce-contents {
  padding: 0 10vw;
  max-width: 1024px;
  margin: 0 auto;
}

.introduce-contents-title {
  text-align: center;
  margin: 32px auto;
}

.introduce-contents-image {
  width: 160px;
  margin: 32px auto;
}

.introduce-contents-message {
  line-height: 1.8;
}

.introduce-contents-skillsets {
  margin: 32px auto 0;
  display: grid;
  place-content: center;
}

.introduce-contents-skillsets-title {
  font-size: 1.2rem;
  font-weight: 700;;
  text-align: center;
  font-family: "Montserrat", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.introduce-contents-skillsets-list {
  list-style: none;
  padding: 0;
}

.introduce-contents-skillsets-list-item {
  margin: 16px auto;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 0.4em;
  text-decoration-color: rgba(30, 106, 255, 0.2);
  text-underline-offset: -0.15em;
  text-decoration-skip-ink: none;
}

/* works */

.works {
  min-height: 100vh;
  padding: 4vh 0;
}

.works-title {
  text-align: center;
  font-family: "Montserrat", "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.5rem;
  margin: 32px auto 0;
}

.works-container {
  display: grid;
  max-width: 1024px;
  margin: 0 auto;
}

.works-item {
  margin: 48px auto;
  padding: 0 10vw;
  display: grid;
  place-content: center;
  max-width: 480px;
}

.works-item-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 8px auto 16px;
}

.works-item-visual {
  width: 200px;
  margin: 16px auto;
  display: grid;
  place-content: center;
}

@media screen and (min-width: 768px) {
  .works-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .works-item {
    padding: 0 2vw;
    place-content: start;
  }
  .works-item-visual {
    width: auto;
    place-content: center;
    height: 160px;
  }
  .works-item-visual-image {
    max-height: 160px;
  }
}

/* footer */

.footer {
  font-size: .8rem;
  background: #0D0628;
  color: #fff;
  min-height: 80px;
  display: grid;
  place-content: center;
}
